<!DOCTYPE html>
<html>
<head>
<title>Student Dashboard</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

<div class="layout">

<!-- SIDEBAR -->
<div class="sidebar">
<h2>EduSmart</h2>
<ul>
<li onclick="showSection('dashboard')">🏠 Dashboard</li>
<li onclick="showSection('attendance')">📊 Attendance</li>
<li onclick="showSection('assignment')">📂 Assignments</li>
<li onclick="showSection('notes')">📚 Notes</li>
<li onclick="showSection('announcements')">📢 Announcements</li>
</ul>
</div>

<!-- MAIN -->
<div class="main">

<div class="header">
<h2 id="studentName"></h2>
<button onclick="logout()">Logout</button>
<button onclick="togglePasswordBox()">Change Password</button>
</div>

<!-- CHANGE PASSWORD -->
<div id="passwordBox" style="display:none;">
<input id="oldPass" placeholder="Old Password">
<input id="newPass" placeholder="New Password">
<button onclick="changePassword()">Update</button>
</div>

<!-- DASHBOARD -->
<div id="dashboardSection" class="section">
<div class="cards">
<div class="card small"><h4>Attendance</h4><p id="attValue">0%</p></div>
<div class="card small"><h4>Assignments</h4><p id="assignValue">0</p></div>
<div class="card small"><h4>Marks</h4><p id="marksValue">0</p></div>
</div>

<div class="charts">
<div class="card"><canvas id="pieChart"></canvas></div>
<div class="card">
<h3>Marks Performance</h3>
<canvas id="barChart"></canvas>
</div>

<div class="card">
<h3>Assignment Submissions</h3>
<canvas id="assignChart"></canvas>
</div>
</div>
</div>

<!-- ATTENDANCE -->
<div id="attendanceSection" class="section" style="display:none;">
<div class="card">
<h3>Attendance</h3>
<div class="progress-bar"><div id="progressFill"></div></div>
<p id="percentText"></p>
<button id="attBtn" onclick="markAttendance()">Mark Attendance</button>
</div>
</div>

<!-- ASSIGNMENTS -->
<div id="assignmentSection" class="section" style="display:none;">
<div class="card">
<input type="file" id="fileInput">
<button onclick="uploadFile()">Upload</button>
<ul id="assignmentList"></ul>
</div>
</div>

<!-- NOTES -->
<div id="notesSection" class="section" style="display:none;">
<div class="card">

<h3>Upload Notes</h3>

<input type="file" id="notesFile">
<button onclick="uploadNotes()">Upload</button>

<h3>Your Notes</h3>
<ul id="notesList"></ul>

</div>
</div>


<!-- ANNOUNCEMENTS -->
<div id="announcementsSection" class="section" style="display:none;">
<div class="card">
<ul id="announcementList"></ul>
</div>
</div>

</div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>